body {
    min-height: 1000px;
    background-image: linear-gradient(to bottom right, rgb(209, 232, 238), rgb(65, 65, 63));
}

h1 {
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.bookContainer{
    display: flex;
    flex-direction: row;
}

.add , .bookItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 5px;
    padding: 2px;
    width: 150px;
    height: 150px;
    background-color: bisque;
    font-size: larger;
    font-weight: 500;
    border-style: solid;
    border-color: black;
    border-radius: 5%;
}
.test {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#form {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 15% auto;
    padding: 5px;
}